
<!-- 
    (aoTransferir)="Transferir($event)" quer dizer que o angular vai monitorar a variavel aoTransferir 
    quando tiver alteração ela vai chamar o método Transferir() passando o $event como parametro, 
    onde contem as informações do emit() 
-->
<app-nova-transferencia (aoTransferir)="transferir($event)"></app-nova-transferencia>

<!-- 
    [transferencias]="transferencias" quer dizer que quando a variavel transferencias for modificada 
    ela vai reconstruir o app-extrato

    <app-extrato [transferencias]="transferencias"></app-extrato>
-->
<app-extrato></app-extrato>

